<div id="container-fluid">
    <div class="row">
        <h3 class="text-center">Highest grossing film of all time</h3>
        <img class="col-lg-3 col-md-3" src="{{avatar.Poster}}" alt="{{avatar.Title}} poster" class="movie-poster">
        <div class="col-lg-9 col-md-9">
            <h4>{{avatar.Title}}, {{avatar.Year}}</h4>
            <h5>Director:</h5>
            <p>{{avatar.Director}}</p>
            <h5>Cast:</h5>
            <p>{{avatar.Actors}}</p>
            <h5>Plot:</h5>
            <p>{{avatar.Plot}}</p>
            <h5>Metascore:</h5>
            <p>{{avatar.Metascore}}</p>
        </div>
        {{!-- {{#if loggedIn}} --}}
        <div id="discussionSection" class="col-lg-12 col-md-12 col-sm-12 row">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 row" id="contentContainer">
                {{#each discussions as |discussion|}}
                <div class="col-lg-6 col-md-6 col-sm-12 text-center border">
                    <a href="/discussion?topic={{discussion.id}}&movie=tt0499549" class="discussionTopic" id="{{discussion.id}}">{{discussion.text}}</a>
                </div>
                {{/each}}
                </ul>
            </div>
        </div>
        <div>
            {{!-- {{else}} --}}
            {{!-- <div id="discussionSection" class="col-lg-12 col-md-12 col-sm-12 row">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 mvh-100" id="contentContainer"> --}}
                    {{!-- <a href="/login" class="text-center" id="homeLogOutA">Log in to see all of the Easter
                        Eggs!</a> --}}
                {{!-- </div>
            </div> --}}
            {{!-- {{/if}}
        </div>
    </div>
</div>
</div> --}}